<ul class="wa-stack">
  <% all_comments.each do |comment| %>
    <li class="wa-stack wa-gap-2xs">
      <div class="wa-flank">
        <wa-avatar initials="AC" label="User avatar"></wa-avatar>
        <div class="wa-cluster">
          <strong><%= comment.ip_address %></strong>
          <span class="wa-caption-s"
            >commented <wa-relative-time date="<%= comment.created_at %>"></wa-relative-time
          ></span>
        </div>
      </div>
      <p>
        <%= comment.comments %>
      </p>
    </li>
  <% end %>
</ul>

